:root {
    --background: #10101a;
    --background-gray: #27272A;
    --primary-light: #ddd;
    --secondary: #555;
    --secondary-dark: #333;
    --terciary: #e74c3c;
    --terciary-dark: #e93a27;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}